<configuration>
	<components>
		<!-- Shows how you can control the value of properties on an object through castle windsor config -->
		<component
				id="SampleApp.TabConfiguration"
				service="SampleApp.Extensions.Configuration.TabConfiguration, SampleApp.Extensions"
				type="SampleApp.Extensions.Configuration.TabConfiguration, SampleApp.Extensions">
			<parameters>
				<ShowTab>true</ShowTab>
				<ShowUCommerceVersion>true</ShowUCommerceVersion>
				<ShowShemaVersion>true</ShowShemaVersion>
			</parameters>
		</component>
	</components>
</configuration>