<?xml version="1.0"?>
<configuration>
	<components>
		<!-- Adds ExecuteAddShoeDefinitionPipeline task into the Initialize pipeline -->
		<partial-component id="Initialize">
			<parameters>
				<tasks>
					<array>
						<item insert="last">${SampleApp.Initialize.ExecuteAddShoeDefinitionPipeline}</item>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- This is the configuration of the task which executes the AddShoeDefintion pipeline -->
		<component id="SampleApp.Initialize.ExecuteAddShoeDefinitionPipeline"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
				type="SampleApp.Extensions.Pipelines.Initialize.ExecuteAddShoeDefinitionPipelineTask, SampleApp.Extensions">
			<parameters>
				<addShoeDefinitionPipeline>${SampleApp.AddShoeDefinitionPipeline}</addShoeDefinitionPipeline>
			</parameters>
		</component>
	</components>
</configuration>
