<configuration>
	<components>
		
		<!-- This is the configuration of the AddShoeDefinition pipeline -->
		<!-- Shows how you can registred the tasks which will be run in a pipeline -->
		<component id="SampleApp.AddShoeDefinitionPipeline"
				service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductDefinition, UCommerce]], UCommerce"
				type="SampleApp.Extensions.Pipelines.ProductDefinition.AddShoeDefinitionPipeline, SampleApp.Extensions">
			<parameters>
				<tasks>
					<array>
						<value>${SampleApp.ProductDefinition.ModifyShoeDefinitionTask}</value>
						<value>${SampleApp.ProductDefinition.MergeShoeDefinitionTask}</value>
						<value>${SampleApp.ProductDefinition.SaveShoeDefinitionTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- This is the configuration of the pipeline task ModifyShoeDefinitionTask  -->
		<component id="SampleApp.ProductDefinition.ModifyShoeDefinitionTask"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinition, UCommerce]], UCommerce"
				type="SampleApp.Extensions.Pipelines.ProductDefinition.ModifyShoeDefinitionTask, SampleApp.Extensions" />

		<!-- This is the configuration of the pipeline task MergeShoeDefinitionTask  -->
		<component id="SampleApp.ProductDefinition.MergeShoeDefinitionTask"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinition, UCommerce]], UCommerce"
				type="SampleApp.Extensions.Pipelines.ProductDefinition.MergeShoeDefinitionTask, SampleApp.Extensions" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

		<!-- This is the configuration of the pipeline task SaveShoeDefinitionTask  -->
		<component id="SampleApp.ProductDefinition.SaveShoeDefinitionTask"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinition, UCommerce]], UCommerce"
				type="SampleApp.Extensions.Pipelines.ProductDefinition.SaveShoeDefinitionTask, SampleApp.Extensions" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>
		
	</components>
</configuration>