<configuration>
	<components>
		<!--  Adds the AboutNodeProvider to the TreeServiceShell -->
		<partial-component id="TreeServiceShell">
			<parameters>
				<tasks>
					<list>
						<item insert="last">${SampleApp.SettingNodes.AboutNodeProvider}</item>
					</list>
				</tasks>
			</parameters>
		</partial-component>

		<!-- This is the configuration of the AboutNodeProvider -->
		<!-- Which provides a new node to the Settings section and a root node -->
		<component
				id ="SampleApp.SettingNodes.AboutNodeProvider"
				service="UCommerce.Tree.ITreeContentProvider, UCommerce"
				type="SampleApp.Extensions.UI.Tree.AboutNodeProvider, SampleApp.Extensions" >
			<parameters>
				<nodeName>About</nodeName>
				<supportTypes>
					<list>
						<item>settings</item>
						<item>root</item>
					</list>
				</supportTypes>
			</parameters>
		</component>
	</components>
</configuration>