<configuration>
	<components>
		<!-- Adds the AboutTabInSettings pipeline task into the page builder pipeline -->
		<partial-component id="PageBuilder">
			<parameters>
				<tasks>
					<array>
						<item insert="last">${SampleApp.PageBuilder.AboutTabInSettings}</item>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- This is the configuration of the AboutTabInSettings example -->
		<!-- This pipeline task that adds a tab to the settings node in the uCommerce backoffice -->
		<component
				id="SampleApp.PageBuilder.AboutTabInSettings"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
				type="SampleApp.Extensions.UI.Tab.AboutTabInSettings, SampleApp.Extensions">
			<parameters>
				<!-- Inject a specific configuration of the TabConfiguration by using the component id -->
				<tabConfiguration>${SampleApp.TabConfiguration}</tabConfiguration>
			</parameters>
		</component>

	</components>
</configuration>