<configuration>
	<components>
		<component
			id ="SettingNodes.AboutSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="SampleApp.Extensions.TreeHook.Provider.AboutNodeProvider, SampleApp.Extensions" />
		
		<partial-component id="TreeServiceShell">
			<parameters>
				<tasks>
					<list>
						<item insert="last">${SettingNodes.AboutSectionProvider}</item>
					</list>
				</tasks>
			</parameters>
		</partial-component>
	</components>
</configuration>
