<configuration>
	<components>
		<component
			id ="SettingNodes.AboutSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="SampleApp.Extensions.UI.Tree.AboutNodeProvider, SampleApp.Extensions" >
			<parameters>
				<nodeName>About</nodeName>
				<supportTypes>
					<list>
						<item>settings</item>
					</list>
				</supportTypes>
			</parameters>
		</component>
		
		<partial-component id="TreeServiceShell">
			<parameters>
				<tasks>
					<list>
						<item insert="last">${SettingNodes.AboutSectionProvider}</item>
					</list>
				</tasks>
			</parameters>
		</partial-component>

		<component 
			id="ViewBuilder.AboutTabInSettings" 
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.ViewBuilder.ViewBuilderRequest, UCommerce],[UCommerce.Pipelines.ViewBuilder.ViewBuilderResponse, UCommerce]], UCommerce]], UCommerce"
			type="SampleApp.Extensions.UI.Tab.AboutTabInSettings, SampleApp.Extensions"
		/>

		<partial-component id="ViewBuilder">
			<parameters>
				<tasks>
					<array>
						<item insert="last">${ViewBuilder.AboutTabInSettings}</item>
					</array>
				</tasks>
			</parameters>
		</partial-component>
		
	</components>
</configuration>
